:root {
    --main-color: #333333;
    --white: #ffffff;
    --dark-blue: #0E384C;
    --dusty-purple: #836088;
    --salmon: #EE7B6F;
    --Fantasy: #F9F6ED;
    --body-font: 'Inter', sans-serif;
    --pre-header-font: "neulis-neue", sans-serif;
    --header-font: "p22-mackinac-pro", sans-serif;
}
body{
    font-size: 16px;
    font-family: var(--body-font);
    font-weight: 400;
    line-height: 1.5;
    color: var(--main-color);
}
a{
    display: inline-block;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}
img{
    max-width: 100%;
    height: auto;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3 {
    font-family: var(--header-font);
    color: var(--main-color);
    font-weight: 400;
}
h1 {
    font-size: 48px;
    line-height: 1.17;
    margin-bottom: 16px;
}
h2{
    font-size: 36px;
    line-height: 1.33;
    margin-bottom: 16px;
}
h3{
    font-size: 24px;
    line-height: 2;
    font-weight: 700;
}
h4{
    font-family: var(--pre-header-font);
    font-size: 21px;
    line-height: 1.42;
    font-weight: 600;
    color: var(--main-color);
}
h6{
    font-size: 16px;
    font-family: var(--pre-header-font);
    line-height: 1.31;
    letter-spacing: 1.6px;
    color: var(--salmon);
    font-weight: 600;
    margin-bottom: 16px;
}
p:last-child, h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child{
    margin-bottom : 0;
}
.container {
    max-width: 1224px;
}
.large-container {
    max-width: 1424px;
    padding: 0 12px;
    margin: 0 auto;
}
.div-1050 {
    max-width: 1064px;
    margin: 0 auto;
}
.div-1000 {
    max-width: 1024px;
    margin: 0 auto;
}
a.purple-btn, .salmon-btn {
    color: var(--white);
    font-weight: 700;
    line-height: 1.25;
    min-width: 210px;
    background-color: var(--dusty-purple);
    border-radius: 5px;
    padding: 11px 44px;
    border: 1px solid var(--dusty-purple);
    text-align: center;
}
a.purple-btn:hover {
    background-color: transparent;
    color: var(--dusty-purple);
}
.salmon-btn {
    border: 1px solid var(--salmon);
    color: var(--salmon);
    background-color: transparent;
}
a.salmon-btn:hover {
    color: var(--white);
    background-color: var(--salmon);
}

/* Header-area */
header.header-area .header-top-content {
    background: -webkit-linear-gradient(left, #0E384C 8.5%, #8C6286 49.61%, #EE7B6F 90.73%);
    background: linear-gradient(90deg, #0E384C 8.5%, #8C6286 49.61%, #EE7B6F 90.73%);
    padding: 12px 0;
    color: var(--white);
    font-size: 14px;
    line-height: 1.7;
    font-weight: 600;
}
.header-area .main-header-content {
    padding: 24px 0;
}
a.logo {
    max-width: 190px;
}
a.logo .white-logo {
    display: none;
}
nav.nav-menu{
    margin-left: 60px;
}
nav.nav-menu > ul > li > a {
    padding: 8px 0 4px;
    color: var(--main-color);
    font-size: 16px;
    font-weight: 600;
    border-bottom: 4px solid transparent;
}
nav.nav-menu > ul > li > a:hover {
    color: var(--salmon);
    border-color: var(--salmon);
}
a.login-btn {
    font-size: 14px;
    line-height: 1.7;
    color: var(--main-color);
    margin-right: 20px;
}
a.login-btn:hover {
    color: var(--salmon);
}
.login-and-apply > a.purple-btn {
    min-width: 150px;
}

/* Footer area */
.footer-area {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 120px 0 80px;
}
.footer-left {
    max-width: 260px;
}
.footer-area h1 {
    color: var(--white);
    margin-bottom: 72px;
}
.footar-right > h1 > span {
    color: var(--salmon);
}
.footar-right h6 {
    text-transform: uppercase;
}
nav.single-footer-nav ul li:not(li:last-child){
    margin-bottom: 6px;
}
nav.single-footer-nav ul li a {
    font-size: 14px;
    color: var(--white);
}
nav.single-footer-nav ul li a:hover{
    color: var(--salmon);
}
.footer-area p.copyright {
    margin-top: 80px;
    font-size: 14px;
}
.footer-area p.copyright a {
    color: var(--white);
}

/* Main Hero */
.main-hero-section {
    padding: 50px 0 100px;
}
.main-hero-content {
    max-width: 600px;
}
.main-hero-content p {
    margin-bottom: 35px;
}
.button-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 16px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.main-hero-banner img {
    border-radius: 100px 0px 0px 0px;
}

/* Benefit area */
.benefits-section {
    text-align: center;
    background-color: var(--dark-blue);
    padding: 100px 0 120px;
}
.benefits-content h2 {
    color: var(--white);
    margin-bottom: 60px;
}
.single-benefits-card {
    min-height: 265px;
    text-align: left;
    max-width: 200px;
    background-color: var(--Fantasy);
    padding: 30px 25px;
    border-radius: 10px;
}
.single-benefits-card span.fontawesome-icon {
    font-size: 30px;
    line-height: 1;
    display: block;
    margin-bottom: 24px;
}
.single-benefits-card span.fontawesome-icon {
    font-size: 30px;
    line-height: 1;
    display: block;
    margin-bottom: 24px;
}
.single-benefits-card h4 {
    margin-bottom: 8px;
    line-height: 1.15;
}
.single-benefits-card p {
    font-size: 14px;
}

/* Full Width Img */
.full-width-image img, .full-width-bg img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

/* Three Column Section */
.three-column-section {
    padding: 100px 0;
    text-align: center;
}
.three-column-content, .programs-content, .two-column-content {
    max-width: 900px;
    margin: 0 auto 60px;
}
.single-column {
    max-width: 250px;
}
.single-column img, .single-column-content img {
    border-radius: 10px;
    margin-bottom: 20px;
}
.single-column h3, .single-column-content h3 {
    margin-bottom: 12px;
}
.single-column p, .flipped-content p, .better-panning-heading p {
    font-size: 18px;
    line-height: 1.33;
}
/* flipped image */
section.flipped-image-section, section.faq-section, section.email-content-section, section.two-column-section {
    padding: 80px 0;
}
.flipped-image img, .better-panning-img img {
    border-radius: 10px;
}
.flipped-content p {
    margin-bottom: 32px;
}

/* FAQ Section */
.single-faq-item:not(.single-faq-item:last-child) {
    margin-bottom: 8px;
}
.single-faq-item > a {
    font-size: 21px;
    line-height: 1.33;
    color: var(--main-color);
    font-family: var(--header-font);
    font-weight: 500;
    display: block;
    padding: 8px 42px 8px 0;
    position: relative;
}
.single-faq-item > a:before, .single-faq-item > a:after {
    content: "";
    width: 20px;
    height: 2px;
    border-radius: 2px;
    background-color: var(--main-color);
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    position: absolute;
    top: 21px;
    right: 8px;
}
.single-faq-item > a.collapsed:after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}
.single-faq-content {
    padding: 8px 0;
}

/* Inner Header */
.inner-header-section, .programs-section, section.better-panning-section {
    padding: 100px 0 80px;
}
.inner-header-content {
    max-width: 800px;
}
.inner-header-content p {
    margin-bottom: 24px;
}
.inner-header-content a.salmon-btn, .inner-header-content a.purple-btn {
    min-width: 170px;
}
/* programs-section */
.programs-section {
    text-align: center;
}
.programs-content h2 {
    margin-bottom: 24px;
}
section.programs-section img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 48px;
}

/* Email Content */
.email-content-with-heading:not(.email-content-with-heading:last-child) {
    margin-bottom: 80px;
}
.email-content-with-heading h3 {
    margin-bottom: 16px;
    line-height: 1.25;
    font-weight: 500;
}

/* two-column-section */
section.two-column-section {
    text-align: center;
}
.single-column-content-box {
    max-width: 320px;
    margin: 0 auto;
}
.single-column-content p {
    font-size: 18px;
    line-height: 1.33;
    margin-bottom: 35px;
}

/* Better Panning */
section.better-panning-section {
    background-color: var(--Fantasy);
}
.better-panning-content {
    max-width: 500px;
}
.better-panning-heading {
    margin-bottom: 24px;
}
.single-panning-item:not(.single-panning-item:last-child) {
    border-bottom: 1px solid var(--main-color);
}
.single-panning-item a {
    font-size: 21px;
    color: var(--main-color);
    font-family: var(--pre-header-font);
    font-weight: 500;
    display: block;
    padding: 20px 40px 20px 0;
    position: relative;
    line-height: 1.4;
}
.single-panning-item a:after {
    content: "\f105";
    position: absolute;
    top: 25px;
    right: 8px;
    font-family: 'Font Awesome 6 Pro';
    font-size: 24px;
    line-height: 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
}
.single-panning-item a.collapsed:after {
    -webkit-transform: rotate(0);
            transform: rotate(0);
}
.single-panning-content {
    padding-bottom: 20px;
}