@media(max-width:991px){
    h1{
        font-size: 36px;
    }
    h2 {
        font-size: 30px;
    }
    .header-area .main-header-content {
        padding: 15px 0;
    }
    a.logo {
        max-width: 150px;
    }
    a.login-btn {
        font-weight: 600;
    }
    a.login-btn i {
        margin-right: 10px;
    }
    .mobile-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 9;
    }
    a.mobile-bar {
        width: 36px;
        height: 28px;
        padding: 4px 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    a.mobile-bar span {
        width: 100%;
        height: 4px;
        display: block;
        background-color: #000;
        border-radius: 5px;
        position: relative;
        transition: all 0.33s;
    }
    a.mobile-bar span:first-child {
        width: 23px;
        margin-left: auto;
    }
    a.mobile-bar span:last-child {
        width: 25px;
        margin-left: auto;
    }
    .mobile-menu-open a.login-btn{
        color: var(--white);
    }
    body.mobile-menu-open a.logo .white-logo {
        display: inline-block;
    }
    body.mobile-menu-open a.logo .dark-logo {
        display: none;
    }
    body.mobile-menu-open a.mobile-bar span{
        background-color: var(--white);
    }
    body.mobile-menu-open a.mobile-bar span:first-child {
        transform: rotate(-48deg);
        top: 7px;
        width: 100%;
    }
    body.mobile-menu-open a.mobile-bar span:nth-child(2) {
        opacity: 0;
    }
    body.mobile-menu-open a.mobile-bar span:last-child {
        transform: rotate(48deg);
        top: -9px;
        width: 100%;
    }
    nav.nav-menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin-left: 0;
        background-color: var(--dark-blue);
        padding: 0 12px;
    }
    nav.nav-menu > ul {
        max-width: 516px;
        margin: 0 auto;
        padding: 90px 0 25px;
    }
    nav.nav-menu ul li{
        border-bottom: 1px solid #275859;
    }
    nav.nav-menu ul li a {
        color: var(--white);
        width: 100%;
        font-size: 14px;
        padding: 12px 0;
        border-bottom: none;
    }
    nav.nav-menu a.purple-btn {
        max-width: 516px;
        width: 100%;
    }
    .footer-area {
        padding: 80px 0 50px;
    }
    .footer-area h1 {
        margin-bottom: 48px;
    }
    .footer-area p.copyright {
        margin-top: 48px;
    }



}
@media(max-width: 767px){
    .container, .large-container, .div-1050, .div-1000 {
        max-width: 540px;
    }
    .main-hero-section {
        padding: 40px 0 60px;
    }
    .button-group {
        flex-direction: column;
        align-items: stretch;
    }
    .benefits-section, .three-column-section, .inner-header-section, .programs-section, section.email-content-section, section.two-column-section, section.better-panning-section {
        padding: 60px 0;
    }
    .benefits-content h2, .email-content-with-heading:not(.email-content-with-heading:last-child), .three-column-content, .programs-content, .two-column-content {
        margin-bottom: 48px;
    }


}
@media screen and (min-width: 992px) {
    nav.nav-menu > ul > li {
        display: inline-block;
        margin-right: 29px;
    }
    nav.nav-menu > ul > li:last-child {
        margin-right: 0;
    }
    .footar-right {
        max-width: 820px;
        margin-left: auto;
    }
    .flipped-content h6, .flipped-content h2 {
        margin-bottom: 24px;
    }












}
@media screen and (min-width: 1400px) {
    .benefits-section, section.two-column-section {
        background-image: url(../img/bg-vector.png);
        background-repeat: no-repeat;
        background-position: center right;
    }
    section.right-image-section {
        background-image: url(../img/bg-vector-2.png);
        background-repeat: no-repeat;
        background-position: center left;
    }
    section.faq-section {
        background-image: url(../img/bg-vector-3.png);
        background-position: top right;
        background-repeat: no-repeat;
    }
    section.two-column-section {
        background-image: url(../img/bg-vector-4.png);
    }






}
